# import librarys

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

# Read File and chenage columns

In [3]:
stress = pd.read_csv("Stress.csv")
stress.info()

stress_check = stress

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2028 entries, 0 to 2027
Data columns (total 19 columns):
 #   Column                                                                                                                                      Non-Null Count  Dtype
---  ------                                                                                                                                      --------------  -----
 0   1. Age                                                                                                                                      2028 non-null   object
 1   2. Gender                                                                                                                                   2028 non-null   object
 2   3. University                                                                                                                               2028 non-null   object
 3   4. Department                                                                                                                               2028 non-null   object
 4   5. Academic Year                                                                                                                            2028 non-null   object
 5   6. Current CGPA                                                                                                                             2028 non-null   object
 6   7. Did you receive a waiver or scholarship at your university?                                                                              2028 non-null   object
 7   1. In a semester, how often have you felt upset due to something that happened in your academic affairs?                                    2028 non-null   int64
 8   2. In a semester, how often you felt as if you were unable to control important things in your academic affairs?                            2028 non-null   int64
 9   3. In a semester, how often you felt nervous and stressed because of academic pressure?                                                     2028 non-null   int64
 10  4. In a semester, how often you felt as if you could not cope with all the mandatory academic activities? (e.g, assignments, quiz, exams)   2028 non-null   int64
 11  5. In a semester, how often you felt confident about your ability to handle your academic / university problems?                            2028 non-null   int64
 12  6. In a semester, how often you felt as if things in your academic life is going on your way?                                               2028 non-null   int64
 13  7. In a semester, how often are you able to control irritations in your academic / university affairs?                                      2028 non-null   int64
 14  8. In a semester, how often you felt as if your academic performance was on top?                                                            2028 non-null   int64
 15  9. In a semester, how often you got angered due to bad performance or low grades that is beyond your control?                               2028 non-null   int64
 16  10. In a semester, how often you felt as if academic difficulties are piling up so high that you could not overcome them?                   2028 non-null   int64
 17  Stress Value                                                                                                                                2028 non-null   int64
 18  Stress Label                                                                                                                                2028 non-null   object
dtypes: int64(11), object(8)
memory usage: 301.2+ KB

In [4]:
stress.columns

Index(['1. Age', '2. Gender', '3. University', '4. Department',
       '5. Academic Year', '6. Current CGPA',
       '7. Did you receive a waiver or scholarship at your university?',
       '1. In a semester, how often have you felt upset due to something that happened in your academic affairs? ',
       '2. In a semester, how often you felt as if you were unable to control important things in your academic affairs?',
       '3. In a semester, how often you felt nervous and stressed because of academic pressure? ',
       '4. In a semester, how often you felt as if you could not cope with all the mandatory academic activities? (e.g, assignments, quiz, exams) ',
       '5. In a semester, how often you felt confident about your ability to handle your academic / university problems?',
       '6. In a semester, how often you felt as if things in your academic life is going on your way? ',
       '7. In a semester, how often are you able to control irritations in your academic / university affairs? ',
       '8. In a semester, how often you felt as if your academic performance was on top?',
       '9. In a semester, how often you got angered due to bad performance or low grades that is beyond your control? ',
       '10. In a semester, how often you felt as if academic difficulties are piling up so high that you could not overcome them? ',
       'Stress Value', 'Stress Label'],
      dtype='object')

In [5]:
# change columns
stress.columns = ["Age", "Gender", "University", "Department", "Academic_Year", "CGPA", "Scholarship", "Upset", "control_important_affairs", "Nervous", 
                  "disability", "ability", "Academic_situation", "control_upset_affairs", "Top_performance", "angered_performance","Not_overcome", 
                  "Stress_Value", "Stress_Label"]

stress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2028 entries, 0 to 2027
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        2028 non-null   object
 1   Gender                     2028 non-null   object
 2   University                 2028 non-null   object
 3   Department                 2028 non-null   object
 4   Academic_Year              2028 non-null   object
 5   CGPA                       2028 non-null   object
 6   Scholarship                2028 non-null   object
 7   Upset                      2028 non-null   int64
 8   control_important_affairs  2028 non-null   int64
 9   Nervous                    2028 non-null   int64
 10  disability                 2028 non-null   int64
 11  ability                    2028 non-null   int64
 12  Academic_situation         2028 non-null   int64
 13  control_upset_affairs      2028 non-null   int64
 14  Top_performance            2028 non-null   int64
 15  angered_performance        2028 non-null   int64
 16  Not_overcome               2028 non-null   int64
 17  Stress_Value               2028 non-null   int64
 18  Stress_Label               2028 non-null   object
dtypes: int64(11), object(8)
memory usage: 301.2+ KB

# Overview

In [6]:
# create variable for Overview and train, test operation
train, test = train_test_split(stress, test_size=0.2, random_state=2)
stress_view = stress.copy()
train.shape, test.shape

((1622, 19), (406, 19))

In [7]:
stress_view.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2028 entries, 0 to 2027
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Age                        2028 non-null   object
 1   Gender                     2028 non-null   object
 2   University                 2028 non-null   object
 3   Department                 2028 non-null   object
 4   Academic_Year              2028 non-null   object
 5   CGPA                       2028 non-null   object
 6   Scholarship                2028 non-null   object
 7   Upset                      2028 non-null   int64
 8   control_important_affairs  2028 non-null   int64
 9   Nervous                    2028 non-null   int64
 10  disability                 2028 non-null   int64
 11  ability                    2028 non-null   int64
 12  Academic_situation         2028 non-null   int64
 13  control_upset_affairs      2028 non-null   int64
 14  Top_performance            2028 non-null   int64
 15  angered_performance        2028 non-null   int64
 16  Not_overcome               2028 non-null   int64
 17  Stress_Value               2028 non-null   int64
 18  Stress_Label               2028 non-null   object
dtypes: int64(11), object(8)
memory usage: 301.2+ KB

In [8]:
stress_view.head()

,Age,Gender,University,Department,Academic_Year,CGPA,Scholarship,Upset,control_important_affairs,Nervous,disability,ability,Academic_situation,control_upset_affairs,Top_performance,angered_performance,Not_overcome,Stress_Value,Stress_Label
0,18-22,Female,"Independent University, Bangladesh (IUB)",Engineering - CS / CSE / CSC / Similar to CS,Second Year or Equivalent,2.50 - 2.99,No,3,4,3,2,2,1,2,2,4,4,29,High Perceived Stress
1,18-22,Male,"Independent University, Bangladesh (IUB)",Engineering - CS / CSE / CSC / Similar to CS,Third Year or Equivalent,3.00 - 3.39,No,3,3,4,2,3,2,2,2,2,3,24,Moderate Stress
2,18-22,Male,American International University Bangladesh (...,Engineering - CS / CSE / CSC / Similar to CS,Third Year or Equivalent,3.00 - 3.39,No,0,0,0,0,0,1,0,0,0,0,15,Moderate Stress
3,18-22,Male,American International University Bangladesh (...,Engineering - CS / CSE / CSC / Similar to CS,Third Year or Equivalent,3.00 - 3.39,No,3,1,2,1,4,3,2,2,3,2,17,Moderate Stress
4,18-22,Male,North South University (NSU),Engineering - CS / CSE / CSC / Similar to CS,Second Year or Equivalent,2.50 - 2.99,No,4,4,4,2,2,2,0,2,4,4,32,High Perceived Stress

In [9]:
stress_view.describe()

,Upset,control_important_affairs,Nervous,disability,ability,Academic_situation,control_upset_affairs,Top_performance,angered_performance,Not_overcome,Stress_Value
count,2028.000000,2028.000000,2028.000000,2028.000000,2028.000000,2028.000000,2028.000000,2028.000000,2028.000000,2028.000000,2028.000000
mean,2.350099,2.326923,2.708087,2.369329,2.173077,1.790927,1.932446,1.721893,2.426036,2.435897,22.998028
std,1.178962,1.156746,1.132379,1.222703,1.084549,1.098807,1.019723,1.132371,1.177386,1.166602,6.755071
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,19.000000
50%,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,22.000000
75%,3.000000,3.000000,4.000000,3.000000,3.000000,2.000000,3.000000,2.000000,3.000000,3.000000,27.000000
max,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,40.000000

In [10]:
stress_view["Age"].unique()

array(['18-22', '23-26', '27-30', 'Above 30', 'Below 18'], dtype=object)

In [11]:
stress_view["Upset"].unique()

array([3, 0, 4, 1, 2])

In [15]:
stress_view["Stress_Label"].value_counts()

Stress_Label
Moderate Stress          1348
High Perceived Stress     565
Low Stress                115
Name: count, dtype: int64

In [14]:
stress_view["Academic_Year"].value_counts()

Academic_Year
First Year or Equivalent     601
Third Year or Equivalent     570
Fourth Year or Equivalent    403
Second Year or Equivalent    382
Other                         72
Name: count, dtype: int64

In [ ]:
stress_view.columns

Index(['Age', 'Gender', 'University', 'Department', 'Academic_Year', 'CGPA',
       'Scholarship', 'Upset', 'control_important_affairs', 'Nervous',
       'disability', 'ability', 'Academic_situation', 'control_upset_affairs',
       'Top_performance', 'angered_performance', 'Not_overcome',
       'Stress_Value', 'Stress_Label'],
      dtype='object')

# Preprocessing Operations